/* line 3, ../sass/page.scss */
html {
  font-size: 16px;
}

/* line 6, ../sass/page.scss */
.wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  display: none;
}
/* line 12, ../sass/page.scss */
.wrapper > * {
  flex: 1 100%;
}
/* line 15, ../sass/page.scss */
.wrapper .page-header {
  background: #FF6347;
  padding: 10px 0;
}
/* line 18, ../sass/page.scss */
.wrapper .page-header h1 {
  text-align: center;
}
/* line 23, ../sass/page.scss */
.wrapper .page-content {
  min-height: 200px;
  background: #00BFFF;
  padding: 10px;
  flex: 2 0px;
}
/* line 30, ../sass/page.scss */
.wrapper .aside1, .wrapper .aside2 {
  background: #FF69B4;
  padding: 10px 0;
  transition: min-height .7s;
}
/* line 34, ../sass/page.scss */
.wrapper .aside1 p, .wrapper .aside2 p {
  font-weight: bold;
  text-align: center;
}
/* line 40, ../sass/page.scss */
.wrapper .aside2 {
  background: #FFD700;
}
/* line 44, ../sass/page.scss */
.wrapper .page-footer {
  background: #90EE90;
  padding: 10px 0;
}
/* line 47, ../sass/page.scss */
.wrapper .page-footer p {
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 800px) {
  /* line 56, ../sass/page.scss */
  .aside1, .aside2 {
    flex: 1 auto;
    min-height: 200px;
  }

  /* line 60, ../sass/page.scss */
  .page-header {
    order: 1;
  }

  /* line 63, ../sass/page.scss */
  .aside1 {
    order: 2;
  }

  /* line 66, ../sass/page.scss */
  .page-content {
    order: 3;
  }

  /* line 69, ../sass/page.scss */
  .aside2 {
    order: 4;
  }

  /* line 72, ../sass/page.scss */
  .page-footer {
    order: 5;
  }
}
/* line 81, ../sass/page.scss */
.cover .pack-of-cards {
  display: flex;
  flex-flow: column wrap;
  height: 380px;
  max-width: 600px;
  margin: 10px auto;
  box-shadow: 1px 2px 2px #333, -1px 0 2px #333;
}
/* line 90, ../sass/page.scss */
.cover .card {
  background: #FF6347;
  padding: 40px;
  margin: 4px;
}
/* line 95, ../sass/page.scss */
.cover .card:nth-child(even) {
  background: #FF69B4;
}
