html {
	font-size: 13px;
	line-height: 1.5;
}
body {
	font: 1em/1.5 arial, verdana;
	margin: 0;
}
.doc-wrap {
	padding: 10px;
}

a {
	display: inline-block;
	padding: 3px;
	color: rgb(83, 141, 229);
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}